<h1>Limericks by <%= @user.email %></h1>

<div class="row row-cols-1 row-cols-lg-2 g-4">

  <% @limericks.each do |l| %>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= l.title %></h5>
        <p class="card-text" style="white-space: pre-line"><%= l.limerick_text %></p>
        <% if l.author == current_user %>
          <%= button_to 'Edit', edit_limerick_path(l), method: :get, data: { turbo: false }, class: 'btn btn-primary btn-sm', form: { class: 'd-inline' } %>
          <%= button_to 'Delete', limerick_path(l), method: :delete, data: { turbo: false }, class: 'btn btn-primary btn-sm', form: { class: 'd-inline' } %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>
